.hot-offer {
  margin-bottom: 127px;
  display: flex;
  flex-direction: column;
}
.hot-offers__tittle {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 51px;
}
.offers {
  display: flex;
  justify-content: space-between;
}
.offers__item {
  min-height: 450px;
  max-width: 362px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
}
.img {
  display: block;
}
.offers__content {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 247px;
  padding: 32px 16px 26px 21px;
}
.offer__conditions {
  display: flex;
  max-width: 275px;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 47px;
  margin-bottom: 5px;
}
.offers__tittle {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}

.offers__conditions-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.text {
  margin-left: 10px;
  color: #666666;
  font-size: 16px;
}

.offers__discription {
  color: #303030;
  font-size: 14px;
  margin-bottom: 5px;
}
