.offer__conditions {
  display: flex;
  max-width: 271px;
  justify-content: space-around;
}

.offers__conditions__inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.text {
  margin-left: 10px;
}
