html,
body {
  height: 100%;
}
/* * {
  box-sizing: border-box;
} */
body {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.42;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}
address {
  font-style: normal;
}
a {
  color: inherit;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}
p {
  margin-top: 0;
}
/* ************** */
body {
  background: #001821;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.42;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-page-wrapper {
  background: url(/img/slon.jpg) center top no-repeat,
    url(img/2.jpg) center bottom 165px no-repeat;
}
.container {
  margin: 0 auto;
  width: 1141px;
}
.header {
  margin-bottom: 120px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__col {
  display: flex;
  align-items: center;
}
.header__col--align--right {
  justify-content: flex-end;
}
.header__logo {
  display: block;
  margin-right: 80px;
}

.contacts {
  font-style: normal;
  text-align: right;
}
.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}
.menu__link {
  font-size: 14px;
  text-decoration: none;
}
.menu__item:last-child {
  margin: 0;
}
.menu__link:hover {
  color: #da0100;
}
.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 4px;
}
.contacts__dropdown-title {
  font-size: 13px;
  text-decoration: underline;
  position: relative;
  bottom: 8px;
  right: 2px;
}
.hero__text-section {
  max-width: 511px;
  max-height: 333px;
  display: flex;
  flex-direction: column;
  margin-bottom: 246px;
}
.hero__tittle {
  font-size: 72px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 29px;
}
.hero__subttitle {
  font-size: 18px;
  margin-bottom: 30px;
}
.button {
  display: inline-block;
  background: #f5170e;
  border-radius: 35px;
  padding: 18px 40px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
}
.hot-offer {
  margin-bottom: 127px;
  display: flex;
  flex-direction: column;
}
.hot-offers__tittle {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 51px;
}
.offers {
  display: flex;
  justify-content: space-between;
}

.offers__item {
  min-height: 450px;
  max-width: 362px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
}
.img {
  display: block;
}
.offers__content {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 247px;
  padding: 32px 16px 26px 21px;
}
.offer__conditions {
  display: flex;
  max-width: 275px;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 47px;
  margin-bottom: 5px;
}
.offers__tittle {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}

.offers__conditions-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.text {
  margin-left: 10px;
  color: #666666;
  font-size: 16px;
}

.offers__discription {
  color: #303030;
  font-size: 14px;
  margin-bottom: 5px;
}
.btn-color-white {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  color: #f5170e;
  border: 1px solid #f5170e;
  border-radius: 35px;
  width: 56px;
  height: 20px;
}
.btn-color-white:hover {
  background: #f5170e;
  color: #ffffff;
}
.news {
  margin-bottom: 146px;
}
.news__tittle {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 51px;
}
.news__news {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.news__item {
  border-radius: 6px;
  overflow: hidden;
  width: 557px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.img__news {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news__text-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px 28px;
  min-height: 117px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.news__topic {
  font-size: 24px;
  font-weight: bold;
}
.news__date {
  font-size: 14px;
  padding-bottom: 16px;
}
.pager {
  text-align: center;
}
.pager__display,
.pager__list {
  display: inline-block;
  vertical-align: middle;
}
.pager__display {
  margin-right: 25px;
}
.pager__item {
  display: inline-block;
  vertical-align: middle;
}
.pager__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  /* position: relative; */
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
}
.pager__item-active .pager__link {
  background: #ffffff;
  color: #f5170e;
}
.pager__link:hover {
  background: #ffffff;
  color: #f5170e;
}
.about-us {
  margin-bottom: 56px;
}
.about::before {
  content: "";
  display: block;
  width: 487px;
  height: 502px;
  background: url(/img/gates.jpg) center center/cover no-repeat;
  border-radius: 5px;
}
.about__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  height: 320px;
  border-radius: 5px;
  padding: 77px 203px 66px 82px;
  margin-left: 353px;
  margin-top: -416px;
  background: url(img/mountains.jpg) center center/cover no-repeat;
}
.about__title {
  color: #000000;
  font-size: 36px;
  font-weight: bold;
}
.about__desc-text {
  color: #000;
}
.about__desc-text p:last-child {
  margin-bottom: 0 px;
}
.footer {
  height: 87px;
  border-top: 1px solid #ffffff10;
  padding-bottom: 58px;
  display: flex;
  justify-content: space-between;
}
.footer__col {
  display: flex;
  align-items: flex-end;
}
.footer__col--align--right {
  justify-content: flex-end;
}
.footer__logo {
  margin-right: 80px;
}
.social {
  margin-right: 75px;
}
.social__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
}
.socials__item--icon--tg .social__link {
  background: url(img/svg/t.svg);
}
.socials__item--icon--tg .social__link:hover {
  background: url(img/svg/t-1.svg);
}
.socials__item--icon--vk .social__link {
  background: url(img/svg/vk.svg);
}
.socials__item--icon--vk .social__link:hover {
  background: url(img/svg/vk-1.svg);
}
.socials__item--icon--fb .social__link {
  background: url(img/svg/facebook.svg);
}
.socials__item--icon--fb .social__link:hover {
  background: url(img/svg/f2.svg);
}
.socials__item--icon--inst .social__link {
  background: url(img/svg/in.svg);
}
.socials__item--icon--inst .social__link:hover {
  background: url(img/svg/in-1.svg);
}
.footer__menu,
.social {
  display: flex;
  flex-direction: row;
}
.social__item {
  margin-right: 10px;
}
.social__item:last-child {
  margin-right: 0;
}

.footer__list {
  display: flex;
}
.footer__item {
  margin-right: 54px;
}
.footer__item:last-child {
  margin-right: 0;
}
.footer__link {
  font-size: 14px;
  text-decoration: none;
}

.footer__link:hover {
  color: #da0100;
}
.footer__contacts {
  display: block;
  right: auto;
  text-align: end;
}
.contacts__dropdown {
  font-size: 11px;
  color: #9a9a9a;
}
